body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas:
      "header header"
      "sidebar main-content"
      "footer footer";
    min-height: 100vh; 
  }
  
  .item {
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .header {
    grid-area: header;
    background-color: #333;
   text-align: center;
   color: #fff;
  }
  
  .sidebar {
    grid-area: sidebar;
    background-color:rgb(154, 245, 245);
  }
  
  .main-content {
    grid-area: main-content;
    background-color: #ffffff;
  }
  
  .footer {
    grid-area: footer;
    background-color: #333;
    text-align: center;
    color: #fff;
    padding: 10px;
  }
  